{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock title %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>
<div class="page-heading">
    <h3>Manajemen Tugas</h3>
</div>
<div class="page-content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <p class="text-subtitle text-muted">Kumpulan Tugas-tugas.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Kelas</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Judul</th>
                                <th>Topic</th>
                                <th>Tanggal buat</th>
                                <th>Tenggat Waktu</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for u in assignments %}
                        <tbody>
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{u.title}}</td>
                                <td>{{ u.topic.classroom.name }}</td>
                                <td>{{ u.created_at }}</td>
                                <td>{{ u.due_date }}</td>
                                <td>
                                    <a href="{% url 'classroom:assignment_submit' u.pk %}" type="button"
                                        class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}