{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock title %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Tugas</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Judul</th>
                        <th>Topic</th>
                        <th>Tanggal buat</th>
                        <th>Tenggat Waktu</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {% for u in assignments %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{u.title}}</td>
                        <td>{{ u.topic.classroom.name }}</td>
                        <td>{{ u.created_at }}</td>
                        <td>{{ u.due_date }}</td>
                        <td>
                            <a href="{% url 'classroom:assignment_submit' u.pk %}" type="button"
                                class="btn btn-primary"> <i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>
{% endblock content %}