amqp==5.2.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
astroid
billiard
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl==0.3.0
colorama==0.4.4
coverage==5.3
crispy-bootstrap4==2024.1
cryptography==42.0.8
cssselect2==0.7.0
dj-database-url==2.2.0
Django==5.0.6
django-ckeditor==6.7.1
django-crispy-forms==2.1
django-js-asset==2.2.0
django-summernote==0.8.20.0
django-widget-tweaks==1.5.0
flake8==3.8.4
html5lib==1.1
idna==3.7
pillow
prompt_toolkit
psycopg2-binary
pycodestyle
pycparser
pyflakes
pypdf
python-dateutil
python-dotenv
pytz
reportlab
requests
sweetify
tinycss2
tzdata
tzlocal
uritools
urllib3
vine
wcwidth
webencodings
wrapt
xhtml2pdf
psycopg2-binary 
django-environ
gunicorn
whitenoise