{% load static %}


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  

    <script src="{% static 'mainapp/js/script.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'vendor/assets/compiled/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/assets/compiled/css/app-dark.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/assets/compiled/css/iconly.css' %}">


    {% if 'todo' in request.path %}
        <script src="{% static 'mainapp/js/todo.js' %}" defer></script>
    {% endif %}

