{% load static %}
<div class="header-top">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="{% static 'vendor/assets/compiled/svg/logo.svg' %}" alt="Logo"></a>
    </div>
    <div class="header-top-right">
      <div class="topbar-divider d-none d-sm-block"></div>

      <div class="dropdown">
        <a href="#" id="topbarUserDropdown" class="user-dropdown d-flex align-items-center dropend dropdown-toggle "
          data-bs-toggle="dropdown" aria-expanded="false">
          <div class="avatar avatar-md2">
            <img src="{{ request.user.profile.image.url }}" alt="Avatar">
          </div>
          <div class="text">
            <h6 class="user-dropdown-name">{{ request.user.get_full_name }}y</h6>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="topbarUserDropdown">
          <li><a class="dropdown-item" href="{% url 'users:profile' %}">My Account</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a></li>
        </ul>
      </div>
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="{% url 'users:logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Burger button responsive -->
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </div>
  </div>
</div>