{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'partials/_head.html' %}
  <title>
    OpenClassroom | {% block title %}{% endblock title %}
  </title>
</head>

<body>
  <!-- Navbar -->
  <script src="{% static 'vendor/assets/static/js/initTheme.js' %}"></script>
  <div id="app">
    <div id="main" class="layout-horizontal">
      <header class="mb-5">
        {% include 'partials/_topbar.html' %}

        {% include 'partials/_sidebar.html' %}



        <!-- Begin Page Content -->
        <div class="content-wrapper container">
          {% include 'partials/_alerts.html' %}

          {% block content %}
          {% endblock content %}
        <!-- /.container-fluid -->

    <!-- End of Main Content -->



    <a class="scroll-to-top rounded" href="#app">
      <i class="fas fa-angle-up"></i>
    </a>
    {% load sweetify %}
    {% sweetify %}
    {% include 'partials/_footer.html' %}
    {% block js %}
    {% endblock js %}
  </div>
</body>
</html>