<nav class="main-navbar">
  <div class="container">
      <ul>
        <li class="menu-item">
          <a href="{% url 'classroom:dashboard' %}" class='menu-link'>
            <span><i class="bi bi-grid-fill"></i> Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'classroom:home' %}" class='menu-link'>
            <span><i class="bi bi-stack"></i> Classrom</span>
          </a>
        </li>
        {% for u in request.user.groups.all %}
        {% if u.name == 'siswa' %}
        <li class="menu-item">
          <a href="{% url 'classroom:todo' %}" class='menu-link'>
            <span><i class="bi bi-stack"></i> Tugas</span>
          </a>
        </li>
        {% elif u.name == 'guru' %}
        <li class="menu-item">
          <a href="{% url 'classroom:assignment' %}" class='menu-link'>
            <span><i class="bi bi-stack"></i> Buat Tugas</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'classroom:toreview' %}" class='menu-link'>
            <span><i class="bi bi-stack"></i> Review</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'posts:student_report_list' %}" class='menu-link'>
            <span><i class="bi bi-stack"></i> Laporan dan Raport</span>
          </a>
        </li>
        {% if 'open' in request.path %}
        <li class="menu-item">
          <a class="menu-link" href="{% url 'classroom:classwork' classroom.pk %}">
            <i class="fas fa-fw fa-folder"></i>
            <span>Classworks</span>
          </a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </ul>
  </div>
</nav>