{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>
<div class="page-heading">
    <h3>Manajemen Tugas</h3>
</div>
<div class="page-content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <p class="text-subtitle text-muted">A sortable, searchable, paginated table without
                        dependencies thanks to simple-datatables.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Kelas</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header" style="text-align: right;">
                    <!-- Button trigger modal -->
                    <a type="button" href="{% url 'classroom:assignment_create' %}" class="btn btn-primary">
                        Tambah Tugas
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="studentsTable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Judul</th>
                                    <th>Guru</th>
                                    <th>Topic</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in assignment %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ u.title }}</td>
                                    <td>{{ u.created_by }}</td>
                                    <td>{{ u.topic }}</td>
                                    <td>{{ u.due_date|date:"d F Y, H:i" }}</td>
                                    <td>
                                        {% if u.status == 'completed' %}
                                        <span class="badge bg-success">Completed</span>
                                        {% else %}
                                        <span class="badge bg-warning">On Progress</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a type="button" href="{% url 'classroom:assignment_update' u.pk %}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#delete-{{ u.id }}">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Link CDN DataTables JS -->
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#studentsTable').DataTable();
    });
</script>
{% endblock content %}