{% extends "base.html" %}
{% block content %}
<header class="mb-3">
  <a href="#" class="burger-btn d-block d-xl-none">
    <i class="bi bi-justify fs-3"></i>
  </a>
</header>

<div class="page-heading">
  <h3>Ringkasan Statistik</h3>
</div>
{% if request.user.is_authenticated %}
{% for u in request.user.groups.all %}
{% if u.name == 'siswa' %}
<div class="page-content">
  <section class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon purple mb-2">
                    <i class="fas fa-check-circle"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Submit</h6>
                  <h6 class="font-extrabold mb-0">{{total_submit}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon blue mb-2">
                    <i class="fas fa-chalkboard"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Classroom</h6>
                  <h6 class="font-extrabold mb-0">{{total_classrooms}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon green mb-2">
                    <i class="fas fa-tasks"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Tugas</h6>
                  <h6 class="font-extrabold mb-0">{{total_tugas}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon red mb-2">
                    <i class="fas fa-comment"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Posting</h6>
                  <h6 class="font-extrabold mb-0">{{total_posting}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Aktifitas Diskusi</h4>
            </div>
            <div class="card-body">
              <div id="chart-profile-visit"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Visitors Profile</h4>
            </div>
            <div class="card-body">
              <div id="chart-visitors-profile"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Tugas Terbaru</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-lg">
                  <thead>
                    <tr>
                      <th>Nama Guru</th>
                      <th>Kelas</th>
                      <th>Deskripsi</th>
                      <th>Tanggal</th>
                      <th>Deadline</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  {% for u in recent_task %}
                  <tbody>
                    <tr>
                      <td>{{u.created_by}}</td>
                      <td>{{ u.topic.classroom.name }}</td>
                      <td>{{ u.title }}</td>
                      <td>{{ u.created_at }}</td>
                      <td>{{ u.due_date|date:"d F Y, H:i" }}</td>
                      <td>
                        {% if u.status == 'completed' %}
                        <span class="badge bg-success">Completed</span>
                        {% else %}
                        <span class="badge bg-warning">On Progress</span>
                        {% endif %}
                      </td>
                      <td>
                        <a href="{% url 'classroom:assignment_submit' u.pk %}" type="button"
                          class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Pengguna Terbaru</h4>
            </div>
            <div class="card-content">
              <div class="recent-message d-flex px-4 py-3">
                <div class="avatar avatar-lg">
                  <img src="./assets/compiled/jpg/4.jpg">
                </div>
                <div class="name ms-4">
                  <h5 class="mb-1">Hank Schrader</h5>
                  <h6 class="text-muted mb-0">Staf</h6>
                </div>
              </div>
              <div class="recent-message d-flex px-4 py-3">
                <div class="avatar avatar-lg">
                  <img src="./assets/compiled/jpg/5.jpg">
                </div>
                <div class="name ms-4">
                  <h5 class="mb-1">Dean Winchester</h5>
                  <h6 class="text-muted mb-0">Siswa</h6>
                </div>
              </div>
              <div class="recent-message d-flex px-4 py-3">
                <div class="avatar avatar-lg">
                  <img src="./assets/compiled/jpg/4.jpg">
                </div>
                <div class="name ms-4">
                  <h5 class="mb-1">Hank Schrader</h5>
                  <h6 class="text-muted mb-0">Staf</h6>
                </div>
              </div>
              <div class="px-4">
                <button class="btn btn-block btn-xl btn-light-primary font-bold mt-3">Lihat Semua</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% elif u.name == 'guru' %}
<div class="page-content">
  <section class="row">
    <div class="col-12 col-lg-12">
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon purple mb-2">
                    <i class="fa-solid fa-users"></i>
                    <!-- <i class="fas fa-graduation-cap"></i> -->
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total siswa</h6>
                  <h6 class="font-extrabold mb-0">112.000</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon green mb-2">
                    <i class="fas fa-chalkboard"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Kelas</h6>
                  <h6 class="font-extrabold mb-0">{{total_classrooms}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon red mb-2">
                    <i class="fas fa-tasks"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Tugas</h6>
                  <h6 class="font-extrabold mb-0">{{total_tugas_guru}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon blue mb-2">
                    <i class="fa-solid fa-comment"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Posting</h6>
                  <h6 class="font-extrabold mb-0">{{total_posting}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Aktifitas Diskusi</h4>
            </div>
            <div class="card-body">
              <div id="chart-profile-visit"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Visitors Profile</h4>
            </div>
            <div class="card-body">
              <div id="chart-visitors-profile"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Latest Comments</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-lg">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-3">
                        <div class="d-flex align-items-center">
                          <div class="avatar avatar-md">
                            <img src="./assets/compiled/jpg/5.jpg">
                          </div>
                          <p class="font-bold ms-3 mb-0">Si Cantik</p>
                        </div>
                      </td>
                      <td class="col-auto">
                        <p class=" mb-0">Congratulations on your graduation!</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-3">
                        <div class="d-flex align-items-center">
                          <div class="avatar avatar-md">
                            <img src="./assets/compiled/jpg/2.jpg">
                          </div>
                          <p class="font-bold ms-3 mb-0">Si Ganteng</p>
                        </div>
                      </td>
                      <td class="col-auto">
                        <p class=" mb-0">Wow amazing design! Can you make another
                          tutorial for
                          this design?</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-3">
                        <div class="d-flex align-items-center">
                          <div class="avatar avatar-md">
                            <img src="./assets/compiled/jpg/2.jpg">
                          </div>
                          <p class="font-bold ms-3 mb-0">Si Ganteng</p>
                        </div>
                      </td>
                      <td class="col-auto">
                        <p class=" mb-0">Wow amazing design! Can you make another
                          tutorial for
                          this design?</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Recent Messages</h4>
            </div>
            <div class="card-content pb-4">
              <div class="recent-message d-flex px-4 py-3">
                <div class="avatar avatar-lg">
                  <img src="./assets/compiled/jpg/4.jpg">
                </div>
                <div class="name ms-4">
                  <h5 class="mb-1">Hank Schrader</h5>
                  <h6 class="text-muted mb-0">@johnducky</h6>
                </div>
              </div>
              <div class="recent-message d-flex px-4 py-3">
                <div class="avatar avatar-lg">
                  <img src="./assets/compiled/jpg/5.jpg">
                </div>
                <div class="name ms-4">
                  <h5 class="mb-1">Dean Winchester</h5>
                  <h6 class="text-muted mb-0">@imdean</h6>
                </div>
              </div>
              <div class="recent-message d-flex px-4 py-3">
                <div class="avatar avatar-lg">
                  <img src="./assets/compiled/jpg/1.jpg">
                </div>
                <div class="name ms-4">
                  <h5 class="mb-1">John Dodol</h5>
                  <h6 class="text-muted mb-0">@dodoljohn</h6>
                </div>
              </div>
              <div class="px-4">
                <button class='btn btn-block btn-xl btn-outline-primary font-bold mt-3'>Start
                  Conversation</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}
<style>
  /* Responsive styles */
  @media (max-width: 768px) {
    .card-body .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-body .row .col-xxl-5,
    .card-body .row .col-xxl-7 {
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 576px) {
    .page-heading h3 {
      font-size: 1.5rem;
    }

    .table-responsive table thead,
    .table-responsive table tbody tr {
      display: block;
      width: 100%;
    }

    .table-responsive table thead tr {
      display: none;
    }

    .table-responsive table tbody tr {
      margin-bottom: 1rem;
      border-bottom: 1px solid #dee2e6;
    }

    .table-responsive table tbody td {
      display: flex;
      justify-content: space-between;
      padding: .75rem;
    }

    .table-responsive table tbody td::before {
      content: attr(data-label);
      flex-basis: 45%;
      text-align: left;
      font-weight: 700;
    }

    .table-responsive table tbody td:nth-child(1)::before {
      content: "Nama Guru";
    }

    .table-responsive table tbody td:nth-child(2)::before {
      content: "Deskripsi";
    }

    .table-responsive table tbody td:nth-child(3)::before {
      content: "Tanggal";
    }

    .table-responsive table tbody td:nth-child(4)::before {
      content: "Deadline";
    }

    .table-responsive table tbody td:nth-child(5)::before {
      content: "File";
    }
  }
</style>