{% extends "base.html" %}
{% block title %} Dashboard {% endblock title %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<header class="mb-3">
  <a href="#" class="burger-btn d-block d-xl-none">
    <i class="bi bi-justify fs-3"></i>
  </a>
</header>

<div class="page-heading">
  <h3>Ringkasan Statistik</h3>
</div>
<div class="page-content">
  <section class="row">
    {% if request.user.is_authenticated %}
    {% for u in request.user.groups.all %}
    {% if u.name == 'siswa' %}
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon purple mb-2">
                    <i class="fas fa-check-circle"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Submit</h6>
                  <h6 class="font-extrabold mb-0">{{total_submit}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon blue mb-2">
                    <i class="fas fa-chalkboard"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Classroom</h6>
                  <h6 class="font-extrabold mb-0">{{total_classrooms}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon green mb-2">
                    <i class="fas fa-tasks"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Tugas</h6>
                  <h6 class="font-extrabold mb-0">{{total_tugas}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon red mb-2">
                    <i class="fas fa-comment"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Posting</h6>
                  <h6 class="font-extrabold mb-0">{{total_posting}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Aktifitas Diskusi</h4>
            </div>
            <div class="card-body">
              <div id="chart-monthly-activity"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Gender</h4>
            </div>
            <div class="card-body">
              <div id="chart-gender"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Tugas Terbaru</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-lg" id="example2">
                  <thead>
                    <tr>
                      <th>Nama Guru</th>
                      <th>Kelas</th>
                      <th>Deskripsi</th>
                      <th>Tanggal</th>
                      <th>Tenggat Waktu</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  {% if recent_task %}
                  {% for u in recent_task %}
                  <tbody>
                    <tr>
                      <td>{{u.created_by}}</td>
                      <td>{{ u.topic.classroom.name }}</td>
                      <td>{{ u.title }}</td>
                      <td>{{ u.created_at }}</td>
                      <td>{{ u.due_date|date:"d F Y, H:i" }}</td>
                      <td>
                        {% if u.status == 'completed' %}
                        <span class="badge bg-success">Selesai</span>
                        {% else %}
                        <span class="badge bg-warning">Sedang Dikerjakan</span>
                        {% endif %}
                      </td>
                      <td>
                        <a href="{% url 'classroom:assignment_submit' u.pk %}" type="button" class="btn btn-primary"><i
                            class="fa fa-eye" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  </tbody>
                  {% endfor %}
                  {% else %}
                  <h3>Tidak ada data </h3>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Pengguna Terbaru</h4>
            </div>
            <div class="card-content">
              {% for profile in user_profiles %}
              <div class="recent-message d-flex px-4 py-3">
                <div class="avatar avatar-lg">
                  {% if profile.gambar %}
                  <img src="{{ profile.gambar }}" alt="{{ profile.nama }}'s Profile Image">
                  {% else %}
                  <span class="avatar avatar-lg">{{ profile.nama|slice:":1" }}</span>
                  {% endif %}
                </div>
                <div class="name ms-4">
                  <h5 class="mb-1">{{ profile.nama }}</h5>
                  {% for classroom in profile.classrooms %}
                  <small class=" mb-0 badge bg-primary fw-bolder">{{ classroom }}</small>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="px-4">
              <button class="btn btn-block btn-xl btn-light-primary font-bold mt-3">Lihat Semua</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% elif u.name == 'guru' %}
    <div class="col-12 col-lg-12">
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon purple mb-2">
                    <i class="fa-solid fa-users"></i>
                    <!-- <i class="fas fa-graduation-cap"></i> -->
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total siswa</h6>
                  <h6 class="font-extrabold mb-0">{{total_student}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon green mb-2">
                    <i class="fas fa-chalkboard"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Kelas</h6>
                  <h6 class="font-extrabold mb-0">{{total_classrooms}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon red mb-2">
                    <i class="fas fa-tasks"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Tugas</h6>
                  <h6 class="font-extrabold mb-0">{{total_tugas_guru}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6 mb-3">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-xxl-5 col-6 d-flex justify-content-start">
                  <div class="stats-icon blue mb-2">
                    <i class="fa-solid fa-comment"></i>
                  </div>
                </div>
                <div class="col-xxl-7 col-6">
                  <h6 class="text-muted font-semibold">Total Posting</h6>
                  <h6 class="font-extrabold mb-0">{{total_posting}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Aktifitas Diskusi</h4>
            </div>
            <div class="card-body">
              <div id="chart-monthly-activity"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Gender</h4>
            </div>
            <div class="card-body">
              <div id="chart-gender"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Komentar terbaru</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-lg">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Komen</th>
                      <th>Tanggal</th>
                      <th>Classroom</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post in latest_posts %}
                    {% for comment in post.comment_set.all %}
                    <tr>
                      <td class="col-3">
                        <div class="d-flex align-items-center">
                          <div class="avatar avatar-md">
                            <img src="{{ comment.user.profile.image.url }}"
                              alt="{{ comment.user.username }}'s Profile Image">
                          </div>
                          <p class="font-bold ms-3 mb-0">{{ comment.user.get_full_name }}</p>
                        </div>
                      </td>
                      <td class="col-auto">
                        <p class="mb-0">{{ comment.comment_text|safe }}</p>
                      </td>
                      <td class="col-auto">
                        <p class="mb-0">{{ comment.created_at|date:"d F Y, H:i" }}</p>
                      </td>
                      <td>{{ post.topic.classroom.name }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mb-3">
          <div class="card">
            <div class="card-header">
              <h4>Pesan Terbaru</h4>
            </div>
            <div class="card-content pb-4">
              {% for comment in recent_comments_private %}
              <div class="recent-message d-flex px-4 py-3">
                <div class="avatar avatar-lg">
                  <img src="{{ comment.user.profile.image.url }}" alt="{{ comment.user.username }}'s Profile Image">
                </div>
                <div class="name ms-4">
                  <h6 class="mb-1">{{ comment.user.get_full_name }}
                    <small class="text-muted mb-0">{{ comment.created_at|date:"d F Y, H:i" }}</small>
                  </h6>
                  <h6 class="text-muted mb-0">{{ comment.assignment.topic.classroom.name }}</h6>
                  <p class="mb-0">{{ comment.comment_text }}</p>
                  <p class="text-muted mb-0"><a class="btn btn-primary mb-0" type="button"
                      href="{% url 'classroom:assignment_submit' comment.assignment.id %}">Klik Link</a></p>
                </div>
              </div>
              {% empty %}
              <div class="recent-message d-flex px-4 py-3">
                <p>Tidak ada pesan terbaru .</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </section>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    fetch('/api/monthly-discussion-activity/')
      .then(response => response.json())
      .then(data => {
        // Data yang diterima dari endpoint JSON
        console.log(data);

        // Mengambil nama-nama bulan dan jumlah aktivitas
        const months = data.map(entry => entry.month);
        const postsData = data.map(entry => entry.posts_count);
        const commentsData = data.map(entry => entry.comments_count);

        // Opsi untuk chart ApexCharts
        const optionsMonthlyActivity = {
          annotations: {
            position: "back",
          },
          dataLabels: {
            enabled: false,
          },
          chart: {
            type: "bar",
            height: 300,
          },
          fill: {
            opacity: 1,
          },
          plotOptions: {},
          series: [
            {
              name: "Posts",
              data: postsData,
            },
            {
              name: "Comments",
              data: commentsData,
            },
          ],
          colors: ["#435ebe", "#55c6e8"],
          xaxis: {
            categories: months,
          },
        };

        // Inisialisasi chart ApexCharts
        const chartMonthlyActivity = new ApexCharts(
          document.querySelector("#chart-monthly-activity"),
          optionsMonthlyActivity
        );

        // Render chart
        chartMonthlyActivity.render();
      })
      .catch(error => console.error('Error fetching monthly discussion activity data:', error));
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    fetch('/api/discussion-activity/')
      .then(response => response.json())
      .then(data => {
        var optionsProfileVisit = {
          annotations: {
            position: "back",
          },
          dataLabels: {
            enabled: false,
          },
          chart: {
            type: "bar",
            height: 300,
          },
          fill: {
            opacity: 1,
          },
          plotOptions: {},
          series: [
            {
              name: "Posts",
              data: data.posts_data,
            },
            {
              name: "Comments",
              data: data.comments_data,
            },
          ],
          colors: ["#435ebe", "#55c6e8"],
          xaxis: {
            categories: data.months,
          },
        };

        var chartProfileVisit = new ApexCharts(
          document.querySelector("#chart-aktifitas1"),
          optionsProfileVisit
        );

        chartProfileVisit.render();
      })
      .catch(error => console.error('Error fetching discussion activity data:', error));
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    fetch('/api/gender-data/')
      .then(response => response.json())
      .then(genderCounts => {
        let optionsVisitorsProfile = {
          series: [genderCounts['M'], genderCounts['F']],
          labels: ["Laki-laki", "Perempuan"],
          colors: ["#435ebe", "#55c6e8"],
          chart: {
            type: "donut",
            width: "100%",
            height: "350px",
          },
          legend: {
            position: "bottom",
          },
          plotOptions: {
            pie: {
              donut: {
                size: "30%",
              },
            },
          },
        };

        var chartVisitorsProfile = new ApexCharts(
          document.getElementById("chart-gender"),
          optionsVisitorsProfile
        );

        chartVisitorsProfile.render();
      })
      .catch(error => console.error('Error fetching gender data:', error));
  });
</script>
<script>
  $(document).ready(function () {
    $('#example2').DataTable({
      "language": {
        "emptyTable": "Tidak ada data yang tersedia di tabel"
      }
    });
  });
</script>
{% endblock %}
<style>
  /* Responsive styles */
  @media (max-width: 768px) {
    .card-body .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-body .row .col-xxl-5,
    .card-body .row .col-xxl-7 {
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 576px) {
    .page-heading h3 {
      font-size: 1.5rem;
    }

    .table-responsive table thead,
    .table-responsive table tbody tr {
      display: block;
      width: 100%;
    }

    .table-responsive table thead tr {
      display: none;
    }

    .table-responsive table tbody tr {
      margin-bottom: 1rem;
      border-bottom: 1px solid #dee2e6;
    }

    .table-responsive table tbody td {
      display: flex;
      justify-content: space-between;
      padding: .75rem;
    }

    .table-responsive table tbody td::before {
      content: attr(data-label);
      flex-basis: 45%;
      text-align: left;
      font-weight: 700;
    }

    .table-responsive table tbody td:nth-child(1)::before {
      content: "Nama Guru";
    }

    .table-responsive table tbody td:nth-child(2)::before {
      content: "Deskripsi";
    }

    .table-responsive table tbody td:nth-child(3)::before {
      content: "Tanggal";
    }

    .table-responsive table tbody td:nth-child(4)::before {
      content: "Deadline";
    }

    .table-responsive table tbody td:nth-child(5)::before {
      content: "File";
    }
  }
</style>